* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 200px;
  height: 200px;
  margin: 100px 0 0 150px;
  border-radius: 50%;
  border: 10px solid rgba(128, 128, 128, 0.345);
  border-left-color: rgb(0, 102, 255);
  animation: spinner 1500ms linear infinite;
}

@keyframes spinner {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
